POSTGRES_USER=demo_user
POSTGRES_PASSWORD=demo_password
POSTGRES_DB=sicomfa_demo

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

DATABASE_URL=postgresql://demo_user:demo_password@db:5432/sicomfa_demo
API_PORT=3001